apiVersion: v1

kind: Service

metadata:
  name: jellyfin-service
  namespace: media

spec:
  selector:
    app: jelly

  ports:
    - protocol: TCP
      port: 80
      targetPort: 8096
      nodePort: 30080
  type: NodePort
